[submodule "tools"]
	path = tools
	url = https://codeberg.org/tradicional/site-tools.git
[submodule "src/_data/schemata"]
	path = src/_data/schemata
	url = https://codeberg.org/tradicional/schemata.git
