src/media/* filter=lfs diff=lfs merge=lfs -text
src/media/an-teaser.jpg filter=lfs diff=lfs merge=lfs -text
src/media/fragoso-teaser.jpg filter=lfs diff=lfs merge=lfs -text
src/media/arqtrad-overlay.jpg filter=lfs diff=lfs merge=lfs -text
